# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
shige = shige.settings

[deploy:shige]
url = http://localhost:6800/
project = shige
username = scrapy
password = 123456

[scrapyd]
http_port=6801