# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings:shige]
default = shige.settings

[deploy:shige]
url = http://localhost:6801/
project = shige
